<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="licenta.books.androidmobile">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <application
        android:name=".activities.others.HelperApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".activities.HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.StylePopupActivity"
            android:theme="@style/AppTheme.CustomTheme"
            />
        <activity android:name=".activities.AnnotationBookActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ReaderBookActivity"
            />
        <activity
            android:name=".activities.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <service android:name=".activities.others.ShakeService" />
    </application>

</manifest>